.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 24px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.name {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
}

.newNameButton {
  padding: 16px;
  margin-right: 12px;
  font-size: 1.2em;
}
